<!-- sidebar -->
<div class="col-lg-3 col-xs-2 col-md-3 sidebar bg-light fixed-top">
  <a href="" class="navbar-brand text-dark d-block mx-auto text-center py-3 mb-4 bottom-border">
    <h2>Farhan NBL</h2>
  </a>
  <div class="bottom-border pb-3">
    <img src="" width="50" class="rounded-circle mr-3">
    <a href="" class="text-info">{{data?.name}}</a>
  </div>
  <ul class="navbar-nav flex-column mt-4">
    <li class="nav-item">
      <a href="" class="nav-link text-info p-3 mb-2 sidebar-link">
        <i class="fa fa-home text-dark fa-lg mr-3"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link text-info p-3 mb-2 sidebar-link">
        <i class="fa fa-list text-dark fa-lg mr-3"></i>
        List
      </a>
    </li>
  </ul>
</div>
<!-- end of sidebar -->
