 <!-- topnav -->
        <nav class="col-lg-9 py-2 ml-auto navbar navbar-expand-lg navbar-light bg-dark fixed-top top-navbar">
          <h4 class="text-light text-uppercase mb-0 navbar-brand">Dashboard</h4>
          <div class="navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-comments text-muted fa-lg"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-bell text-muted fa-lg"></i>
                </a>
              </li>
            </ul>
            <button class="navbar-text btn btn-outline-danger ml-md-auto" (click)="logout()">
               <i class="fa fa fa-sign-out color-danger fa-lg"></i>
            </button>
          </div>
        </nav>
      <!-- end of topnav -->
