<div class="container">
  <div class="row">
    <div class="col-md-8 col-login" style="margin: 150px auto">
      <div class="row">
        <div class="col-md-6 text-center bg-img border-right"><img src="./assets/img/tiger.png"></div>
        <div class="col-md-6">
          <h2 class="text-center font-weight-bold text-primary mt-4">LOGIN HERE</h2>
          <div class="form-login mt-5">
            <div class="form-group">
              <input type="text" required>
              <label>Username</label>
            </div>
            <div class="form-group">
              <input type="password" required>
              <label>Password</label>
            </div>
            <div class="col col-md-12 text-center">
              <button class="btn btn-primary text-center" (click)="login()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
