.container {
  min-height: 100%;
  min-width: 100%;
  background-image: url('../../../../assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-login .col-md-6 {
  background: #fff;
  padding: 0;
}

.col-login {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 2px 12px rgba(0,0,0,.5);
}

.col-login img {
  width: 100%;
  height: 500px;
  transition: .5s;
}
.col-login img:hover {
  filter: drop-shadow(2px 2px 8px rgba(0,0,0,.5));
}

.form-login {
  padding: 10px;
  width: 100%;
}
.form-login input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-bottom: 2px solid #e6e6e6;
  transition: 0.5s;
  font-size: small;
}
.form-login .form-group {
  position: relative;
  margin-top: 35px;
}
.form-login .form-group label {
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.5s;
  pointer-events: none;
  color: #e6e6e6;
}
.form-login input:focus, .form-login input:valid {
  border-bottom: 2px solid #007bff;
}
.form-login input:focus ~ label, .form-login input:valid ~ label {
  top: -18px;
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 766px) {
  .form-login {
    margin-top: 10px;
  }
  .bg-img {
    border-bottom: 1px solid #e6e6e6;
  }
}
